body{
	height: 100vh;
	width: 100%;
	color: #0f0f0f;
	background: #ffffff;
	padding: 0;
    background-image: url("../images/Fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    overflow: hidden;
}
.item{
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0 18% 0 5%;
	vertical-align: middle;
	position: relative;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#home{
   background-image: url("../images/SlideMenu.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 30% 15%;
}
#home .botones{
    margin-top:20px;
}


#salir{
	background: none;
}

.semaforod{
	background-image: url('../images/salir.jpg');
	background-size: cover;
}

.semaforo{
	position: fixed;
	top: 0;
	width: 100%;
	height:98vh;
}

.fondo{
	height:98vh;
	margin:auto;
	display: block;
	width: 100%;
	top:0;
	position: fixed;
}
.sticker{
	position:fixed;
	top: 10%;
	right: 15%;
	width: 13%;
	
}

.fa.circle
  {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border: solid 0.25px;
  }
.fa-chevron-left{
    padding: 8% 8%; 
}
.fa-chevron-right{
    padding: 8% 9%; 
}
.fa-sign-out{
    padding: 8% 9%; 
}
.fa-reorder{
    padding: 7%; 
}
.icon-control{
	z-index: 9;
	position: absolute;
	top: 0;
	width: 100%;
    right: 0;
}

.icon-control div{
    width: 220px;
    height: 90px;
    padding: 5px;
}
.icon-control .fa-close{
    padding: 13px 16px;
    margin-top: 10px;
}

.flash{display:none;}
/*.item{
	position: fixed;
	width: 100%;
}*/
.item1{
	top: 50%;
	
}.item2{
	top: 60%;
	
}.item3{
	top: 70%;
	}

img.home{
	width: 100%;
}
.contededor{
	width: 100%;
	height: 100vh;
    position: relative;
    top:0;
    left:0;
}
.ingrediente{
    width: 20%;
    height: 20%;
    /*background: rgba(195,195,195,0.92);*/
    position: absolute;
}

#cactus{
    top:15%;
    right: 10%
}
#cera{
    top:40%;
    right: 15%}
#sesamo{
    top:62%;
    right: 20%
}

#esp{
    background-image: url("../images/Slide20.png");
}

#s-0{
    background-image: url("../images/Slide0.png");
	background-position: bottom;
}
#s-1{
    background-image: url("../images/Slide1.png");
	background-position: bottom;
}
#s-2{
    background-image: url("../images/Slide2.png");
	background-position: bottom;
}
#s-3{
    background-image: url("../images/Slide3.png");
}
#s-4{
    background-image: url("../images/Slide4.png");
}

#s-5{
    background-image: url("../images/Slide5.png");
}
#s-6{
    background-image: url("../images/Slide6.png");
}
#s-7{
    background-image: url("../images/Slide7.png");
}
#s-8{
    background-image: url("../images/Slide8.png");
}
#s-9{
    background-image: url("../images/Slide9.png");
}
#s-10{
    background-image: url("../images/Slide10.png");
}
#s-11{
    background-image: url("../images/Slide11.png");
}
#s-12{
    background-image: url("../images/Slide12.png");
	background-color: #ffffff;
}

.owl-carousel.owl-drag .owl-item{
    height: 100vh;
}


.vertical{
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    background: #fff;
    color: rgba(237,115,200,1.00);
    z-index: 999999;
    padding: 50% 20%;
    font-size: 1.5em;
    text-align: center;
}
.vertical img {
    width: 100%;
    max-width: 180px;
    margin: auto;
    display: block;
}

.link-over{
    /*background: #aa00ff;*/
    position: absolute;
}

.link-over.e61{
    top: 60%;
    right: 10%;
    width: 42%;
    height: 15%;
}
.link-over.e71{
    top: 40%;
    left: 10%;
    width: 51%;
    height: 33%;
}
.link-over.e72{
    width: 27%;
    height: 30%;
    right: 10%;
    top: 43%;
}
.link-over.e91{
    width: 48%;
    height: 30%;
    left: 7%;
    top: 53%;
}
.link-over.e92{
    width: 37%;
    height: 43%;
    right: 7%;
    top: 10%;
}
.link-over.e93{
    width: 37%;
    height: 27%;
    right: 7%;
    top:55%;
}

.emergente{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 5%;
    display: none;
    background-color: #ffffff;
    z-index: 99999;
}
.emergente img{
    max-height: 580px;
    max-width: 800px;
    margin: auto;
}
.link.home{
    position: absolute;
    top: 12%;
    left: 7%;
    width: 40%;
    height: 22%;
    z-index: 9999;
    display: block;
    background: none;
}

.esp-botones .link{
    position: absolute;
    width: 23.4375%;
    height: 8.125%;
    /*border: solid 1px #4f4f4f;*/
}

.esp-botones .link.medicina{

    top:35%;
    right:28%;
}
.esp-botones .link.ginecologia{

    top:45%;
    right:26%;
}
.esp-botones .link.dermatologia{

    top:54%;
    right:26%;
}
.esp-botones .link.cirugia{

    top:63%;
    right:25.5%;
}
.esp-botones .link.pediatria{

    top:72%;
    right:28%;
}

/*
@media (max-width: 2600px) and (max-height:1500px){
	.wrapper{
		max-height: 1440px;
		max-width: 1440px;
	}
	.exit{
		right: 0%;
	}
}
@media (max-width: 1440px) and (max-height:980px){
	.wrapper{
		max-height: 1020px;
		max-width: 1020px;
	}
	.exit{
		right: 0%;
	}
}
@media (max-width: 1280px) and (max-height:800px){
	.wrapper{
		max-height: 1020px;
		max-width: 1020px;
	}
	.exit{
		right: -10%;
	}
}
*/
/*@media (min-width: 981px) and (max-height:1024px){
	.wrapper{
		max-height: 1020px;
		max-width: 1020px;
	}
	.exit{
		right: -15%;
	}
}
*/
/*
@media (max-width: 1040px) and (max-height:780px){
	.wrapper{
		max-height: 1020px;
		max-width: 1020px;
	}
	.exit{
		right: 0%;
	}
}


@media (min-width: 980px) and (max-height:760px){
	.wrapper{
		max-height: 920px;
		max-width: 920px;
	}
	.exit{
		right: -15%;
	}
}

@media (min-width: 680px) and (max-height: 600px){
	.wrapper{
		max-height: 590px;
		max-width: 590px;
	}
	.exit{
		right: -15%;
	}
}



@media (max-width: 680px){
	.wrapper{
		max-height: 540px;
		max-width: 540px;
	}
}
@media (max-height: 480px){
	.wrapper{
		max-height: 370px;
		max-width: 370px;
	}
	.exit{
		right:-20%;
	}
}
@media (max-height: 380px){
	.wrapper{
		max-height: 370px;
		max-width: 370px;
	}
}


@media (max-width: 480px){
	.wrapper{
		max-height: 370px;
		max-width: 370px;
	}
}

@media (min-width: 1024px) and (max-height:769px){
	.img-fluid{
		max-width: 85%;
	}
}
*/